* {
    margin: 0;
}
body {
    background: linear-gradient(#E497E6, #E6C497);
    background-attachment: fixed;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    font-family: impact;
    font-weight: 1;
    font-size: 3em;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
             letter-spacing: 2px;
}
#mercurio-area {
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}
#mercurio-area img {
    border-radius: 80px;
    border: 5px solid white;
    width: 80%;
    max-width: 400px ;
}
#sentence-area {
    border: 5px solid white;
    border-radius: 20px;
    margin: 20px 10px;
    padding: 10px;
    color: white;
    background-color: black;
    text-align: center;
    display: flex;
    position:relative;
    max-width: 500px;
}
#triangle {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid black;
    position: absolute;
    top: -18px;
    left: 50%;
}
#login-area {
        border: 5px solid white;
    border-radius: 20px;
    margin: 20px 10px;
    padding: 10px;
    color: white;
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#login-form label {
    margin: 5px;
}
#login-form input {
    height: 30px;
}
#login-form button {
    padding: 10px;
    width: 50%;
    background: linear-gradient(#E497E6, #E6C497);
    border-radius: 10px;
    font-weight: 900;
    border: 2px solid white;
    margin-bottom: 10px;;
}
#login-form button:active {
    transform: scale(1.1);
}
#wrong-message {
    color: red;
}
footer {
    font-size: 0.8em;
    font-style: italic;
}